<robot name="root">
  <link name="link_rectangle">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <mass value="0.0131" />
      <inertia ixx="1.17233597E-05" ixy="-2.40327339E-08" ixz="5.53726561E-07" iyy="1.05432346E-05" iyz="-2.25982077E-07" izz="6.29217711E-06" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="vase.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00" />
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="vase.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00" />
      </geometry>
    </collision>
  </link>
</robot>